/* Styles for Arabic and English fonts */
.font-arabic {
    font-family: "Your Arabic Font", sans-serif;
    direction: rtl;
}

.font-english {
    font-family: "Your English Font", sans-serif;
    direction: ltr;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .animate-spin {
    animation: spin 1s linear infinite;
  }